ul.none {
	margin: 0 0 0 8px;
	padding: 0;
}

/* http://aviaport.wrk.ru/directory/aviafirms/socials/ */
ul.none li {
	margin: 0;
	icon-style: none;
}

li.type-department{background-image:url(/_bors-ext/i16/department.gif)}
li.type-settings{background-image:url(/_bors-ext/i16/settings.png)}

.social {
	padding-left: 20px;
	line-height: 18px;
	background-repeat: no-repeat;
}

.social-facebook	{ background-image: url(/_bors-ext/i16/services/facebook.png) }
.social-googleplus	{ background-image: url(/_bors-ext/i16/services/googleplus.png) }
.social-linkedin	{ background-image: url(/_bors-ext/i16/services/linkedin.png) }
.social-livejournal{ background-image: url(/_bors-ext/i16/services/livejournal.png) }
.social-twitter	{ background-image: url(/_bors-ext/i16/services/twitter.png) }
.social-vimeo		{ background-image: url(/_bors-ext/i16/services/vimeo.png) }
.social-vkontakte	{ background-image: url(/_bors-ext/i16/services/vkontakte.png) }
.social-youtube	{ background-image: url(/_bors-ext/i16/services/youtube.png) }

li.type-banned	{background-image: url(/_bors-ext/i16/object-types/banned.gif)}
li.type-cabinet	{background-image: url(/_bors-ext/i16/object-types/cabinet.png)}
li.type-dict	{background-image: url(/_bors-ext/i16/object-types/dictionary.png)}
li.type-excel	{background-image: url(/_bors/i16/file-types/excel.png)}
li.type-link	{background-image: url(/_bors-ext/i16/object-types/link.png)}
li.type-person	{background-image: url(/_bors-ext/i16/object-types/person.png)}
