li.type-department{background-image:url(/_bors-ext/i16/department.gif)}

a.social {
	padding-left: 20px;
	line-height: 18px;
	background-repeat: no-repeat;
}

a.social-facebook	{ background-image: url(/_bors-ext/i16/services/facebook.png) }
a.social-googleplus	{ background-image: url(/_bors-ext/i16/services/googleplus.png) }
a.social-linkedin	{ background-image: url(/_bors-ext/i16/services/linkedin.png) }
a.social-livejournal{ background-image: url(/_bors-ext/i16/services/livejournal.png) }
a.social-twitter	{ background-image: url(/_bors-ext/i16/services/twitter.png) }
a.social-vimeo		{ background-image: url(/_bors-ext/i16/services/vimeo.png) }
a.social-vkontakte	{ background-image: url(/_bors-ext/i16/services/vkontakte.png) }
a.social-youtube	{ background-image: url(/_bors-ext/i16/services/youtube.png) }
